.main {
    flex: 1;
    padding: 20px;
    background-image: url(images/pexels-cats-coming-10169963.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder;
    
}
.recipe {

    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 8px;
    padding: 20px;

}
.recipe ul
{
    list-style: none;
}
