html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: inherit;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: "lato", sans-serif;
    background: #B6ACA0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #5C462B;
}

.logo-head {
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    border-radius: 100%;
  }

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.head-links{
    text-decoration: none;
    text-align: center;
    color: #DFDBD6;
    padding: 20px;
    border-radius: 16px;
    margin: 5px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.2);
    transition: 0.3s ease;
}

.head-links:hover, .foot-links:hover, #submit:hover, #clear:hover {
    background-color: #84653f;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    padding: 20px;
    gap: 20px;
}

.mission {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 20px;
    width: 70%;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    border-radius: 8px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.container-row {
    display: flex;
    flex-direction: column;
    height: 60%;
    gap: 30px;
}

.order-content, .about-content, .recipe-content, .contact-content {
    flex-basis: 25%;
    background-color: #84653f;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 800;
    transition: 0.3s ease;
}

.container-button {
    text-decoration: none;
    font-family: inherit;
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: #DFDBD6;
}

.order-content:hover, .about-content:hover, .recipe-content:hover, .contact-content:hover {
    background-color: #ad814c;
    box-shadow: 4px 4px rgba(35, 35, 35, 0.3);
}

.visit-info {
    background-color: #B6ACA0;
    padding: 20px;
    border-radius: 18px;
    flex-basis: 50%;
    font-size: 20px;
}

.bagel-order {
    display: flex;
    justify-content: center;
}

.bagel {
    display: block;
    max-width: 120px;
    height: auto;
    border-radius: 18px;
    margin: 10px;
}

.v1 {
    border-left: 3px solid #5C462B;
    border-radius: 5px;
    height: auto;
}

#submit-order, #clear-order {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #5C462B;
    border: none;
    color:#DFDBD6;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.2);
    cursor: pointer;
    transition: 0.6s ease;
}

.contact-form {
    background-color: #B6ACA0;
    padding: 20px;
    border-radius: 18px;
    text-align: left;
    font-size: 20px;
    flex-basis: 50%;
}

#name-input, #email-input, #number-input {
    width: 100%;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding: 7px;
}

#submit-contact, #clear-contact {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #5C462B;
    border: none;
    color:#DFDBD6;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.2);
    cursor: pointer;
    transition: 0.6s ease;
}

textarea {
    font-family: 'lato', sans-serif;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border-radius: 18px;
}

footer {
    background: #5C462B;
    padding: 20px;
}

.logo-foot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    max-width: 160px;
  }

.foot-container {
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.links-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.foot-links {
    text-decoration: none;
    color:#DFDBD6;
    padding: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.2);
    border-radius: 18px;
    margin: 10px;
    transition: 0.3s ease;
}

.store-info, .hours {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color:#cdc1b3;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.store-info span, .hours span {
    font-weight: bold;
    color:#DFDBD6
}

.footer-media, .copyright{
    text-align: center;
    margin: 5px;
}

.footer-media {
    display: flex;
    justify-content: center;
}

.img-link {
    margin: 10px;
}

.img-link:hover {
    background: none;
}

@media screen and (max-width: 768px) {
    header, .foot-container{
        flex-direction: column;
    }

    .links {
        flex-wrap: wrap;
    }

    .logo {
        max-width: 30%;
    }

    .store-info, .hours {
        text-align: center;
    }

    .container {
        flex-direction: column;
    }
}
