.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 15% 70% auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Header Header Header Header"
        "Body Body Body Body"
        "Footer Footer Footer Footer";
}

.Header {
    grid-area: Header;
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    height: 15vh;

}

.Body {
    grid-area: Body;
}

.Footer {
    grid-area: Footer;
}